<app-page-header title="Users">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
      <li class="breadcrumb-item mode-text" aria-current="page">Users</li>
    </ol>
  </nav>
</app-page-header>

<app-model-summary [modelSummary]="modelSummary"></app-model-summary>

<div class="card mode-container">
  <div
    class="card-header d-flex justify-content-between align-items-center p-3 bg-transparent"
  >
    <h5 class="m-0 fw-semibold">Available</h5>
    <a routerLink="/admin/users/create" class="btn btn-primary">
      Create <i class="bi bi-arrow-right"></i>
    </a>
  </div>

  <div class="card-body">
    <div
      class="mb-3 d-block d-md-flex align-items-center justify-content-between"
    >
      <div class="form-group w-100 w-md-25 mb-3 mb-md-0">
        <select class="form-select mode-input" aria-label="Per page">
          <option value="10">10 per page</option>
          <option value="10">30 per page</option>
          <option value="10">50 per page</option>
          <option value="10">100 per page</option>
        </select>
      </div>
      <div class="input-group w-100 w-md-25">
        <span class="input-group-text mode-input-span" id="basic-addon1">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="search"
          class="form-control mode-input"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>NAME</th>
            <th>USERNAME</th>
            <th>ACCOUNT TYPE</th>
            <th>VISIBILITY</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.user_type | upperCaseFirstLetter }}</td>
            <td>
              <i
                class="bi bi-{{
                  user.status === 'active'
                    ? 'check2 text-success'
                    : 'x text-danger'
                }}"
              ></i>
            </td>
            <td>
              <a
                routerLink="/admin/users/{{ user.id }}"
                class="action-btn mode-text"
                ngbPopover="Edit"
                triggers="mouseenter:mouseleave"
                *ngIf="user.user_type === 'reader'"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template appAlertModal></ng-template>
