.mode-light {
  color: var(--bs-secondary);
}

.mode-light h1,
.mode-light h2,
.mode-light h3,
.mode-light h4,
.mode-light h5,
.mode-light h6 {
  color: var(--bs-dark);
}

.mode-light .mode-header {
  background-color: var(--bs-white);
}

.mode-light .mode-drawer {
  background-color: var(--bs-gray-100);
}

.mode-light .mode-content {
  background-color: var(--bs-gray-200);
}

.mode-light .mode-text {
  color: var(--bs-secondary);
}

.mode-light .mode-link {
  color: var(--bs-secondary);
}

.mode-light .mode-link:hover {
  background-color: var(--bs-gray-300);
}

.mode-light .mode-link-active {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
}

.mode-light .mode-header-link {
  color: var(--bs-secondary);
}

.mode-light .mode-header-link:hover {
  background-color: var(--bs-gray-200);
}

.mode-light .mode-container {
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-400);
}

.mode-light .mode-input {
  background-color: var(--bs-white);
}

.mode-light .mode-input::placeholder {
  color: var(--bs-gray-500);
}

.mode-light .mode-input-span {
  background-color: var(--bs-white);
}

.mode-light .table > :not(caption) > * > * {
  background-color: var(--bs-gray-100);
  color: var(--bs-secondary);
}

.mode-light th {
  color: var(--bs-dark) !important;
}

.mode-light .ql-toolbar,
.mode-light .ql-container {
  border-color: var(--bs-gray-400);
  background-color: var(--bs-gray-100);
}

.mode-light .ql-editor.ql-blank::before {
  color: var(--bs-gray-500);
}

.mode-light .ql-snow .ql-stroke {
  stroke: var(--bs-secondary);
}

.mode-light .ql-snow .ql-fill {
  fill: var(--bs-secondary);
}

.mode-light .ql-snow .ql-picker-label::before {
  color: var(--bs-secondary);
}
